<% include ./partial/header %>
<br><br><br><br>




<div class="container">
    <div id="scrollspy1" >
      <div class="jumbotron">
        <div class="contact" >
          <h3 style="color: black">
            NSTI, DEHRADUN, UTTARAKHAND
          </h3>
          <p style="font-weight: bold;">
            About NSTI DEHRADUN</p>
            <p style="font-weight: bold; color: black; padding:20px; word-spacing: 5px;">
  
  This institute is entrusted with the mission of producing systematically trained craft instructors to meet the huge demand 
  of various industrial training institutions in our country under craft instructor training scheme (cits) in four trades 
  namely electronics mechanic(em), computer hardware & network maintenance (chnm) and computer software applications (csa) , and Electrician(EL)
   this institute is also offering the following new age courses under cts scheme solar technology ,
    drone technician electronics system design and repair the institute also imparting training and updating the skills of engineers
     / supervisors / technicians / executives/ industrial personnel & faculties of educational institutions through courses of short
      duration conducted in modules and courses as per the specific needs of industries / govt est. / psus / technical institutions. 
          </p>
        </div>
      </div>
      </div>

</div>

<div><% include ./partial/footer %></div>