<% include ./partial/header %>
<br><br><br><br>
<div class="container">
    <div id="scrollspy1" >
      <div class="jumbotron">
        <div class="contact" >
          <h3 style="color: black">
            NSTI, DEHRADUN, UTTARAKHAND 
          </h3>
          <p style="font-weight: bold;">
            About NSTI DEHRADUN</p>
            <p style="font-weight: bold; color: black; padding:20px; word-spacing: 5px;">
  
  This institute is entrusted with the mission of producing systematically trained craft instructors to meet the huge demand 
  of various industrial training institutions in our country under craft instructor training scheme (cits) in Four trades 
  namely electronics mechanic(em), computer hardware & network maintenance (chnm) , computer software applications (csa) , and Electrician(EL)
   this institute is also offering the following new age courses under cts schemes Solar technician ,
    solar power system design and repair the institute also imparting training and updating the skills of engineers
     / supervisors / technicians / executives/ industrial personnel & faculties of educational institutions through courses of short
      duration conducted in modules and courses as per the specific needs of industries / govt est. / psus / technical institutions. 
          </p>
        </div>
      </div>
      </div>

</div>

      <div class="container">
        <div id="scrollspy1" >
          <div class="jumbotron">
            <div class="contact" >
              
               <table border="1" style="width:100%;text-align: center;">
                <tr>
                  <th>Sl.No</th>
                  <th>TRADE</th>
                  <th>Officer NAME</th>
                  <th>Email_Id</th>
                  <th>MOBILE NO.</th>
                 <th>Photo</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>PRINCIPAL</td>
                  <td>GYAN PRAKASH CHOURASIYA</td>
                  <td>nsti-dehradun@dgt.gov.in</td>
                  <td>0135-2629310</td>
        <td><img style="height:100px;width:100px;" src="../"></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>ADIT & CSA</td>
                  <td>JYOTI SHARAN GANDHI</td>
                  <td>jyoti.sharan@gov.in</td>
                  <td>0135-2629310</td>
        <td><img style="height:100px;width:100px;" src="../"/></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>CHNM</td>
                  <td>RAJNI KUMAR</td>
                  <td>ranjaini.kr@gov.in</td>
                  <td>0135-2629310</td>
        <td><img style="height:100px;width:100px;" src="../"/></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>ELECTRICIAN & SOLAR TECH</td>
                  <td>R.P ARYA</td>
                  <td>rp.arya@gov.in</td>
                  <td>0135-2629310</td>
        <td><img style="height:100px;width:100px;" src="../"/></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>ELECTRONICS MECHANICS</td>
                  <td>MANISH MAMGAI</td>
                  <td>m.mamgain@gov.in</td>
                  <td>0135-2629310</td>
        <td><img style="height:100px;width:100px;" src="../"/></td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>Warden</td>
                  <td>DILIP KUMAR</td>
                  <td>dilip@gmail.com</td>
                  <td>0011XXXX000</td>
        <td><img style="height:100px;width:100px;" src="../"/></td>
                </tr>
              </table>
            </div>
          </div>
          </div>
          </div>

          <div class="container">
            <div class="copyright">
              
        <div>
          <iframe src="https://maps.app.goo.gl/FGEHxjb5pviAV4kX6" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            
             <P style="text-align: center">&copy; Copyright <strong><span>NSTI LEAVE APPLICATION</span></strong>. All Rights Reserved</P> 
            </div>
            <P style="text-align: center">Designed by <a href="#">Kunjesh Yadav & Shivam Shukal, Sanjay Sonkariya (ADIT student)</a></P>
            </div>
          </div>
        
      
<div><% include ./partial/footer %></div>